@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
      font-family: "IBM Plex Mono", monospace;
    background-color: #14213d;
}
header{
    border-start-start-radius: 15px;
    border-start-end-radius: 15px;
    background-color: #fff;
    padding: 10px;
}
nav{
    display: flex;
   justify-content: space-between;
   align-items: center;
    width: 100%;
}
.icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.icon-logo{
    background-color: #144dc8;
    padding: 10px;
    font-size: 30px;
    border-radius: 10px;
}
.icon-text{
    margin-left: 10px;
}
.icon-text h1{
    color: #144dc8;
    margin-bottom: 0;
    font-weight: ;
}
.icon-text p{
    margin-top: 0;
}